<div class="jumbotron text-center">
    <h2>About us</h2>
    <p>Bienvenido a devMatch somos una comunidad enfocada al desarrollo </p>
    <p>Crean una aplicacion para todos aquellos Developers, Entreprenuers e Investors</p>
</div>    